.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
   
}
.scroll{
    overflow: hidden !important;
}
.no-scroll{
    overflow: auto;
}.main{
   
    display: flex;
    justify-content: center;
}
.main-container{
    /* background-color: #ffffff; */
    border: 2px solid #fcfcfc;
    background-color: #28ca28;
    position: absolute;
    width: 80%;
    top: 3%;
    z-index: 0;
    border-radius: 10px;
    padding: 5px 25px;
    display: flex;
    flex-direction: column;

   
    /* gap: 20px; */
 
}
.progress-bar {
    height: 15px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgb(243, 236, 236);
}
  
  .progress {
    height: 100%;
    width: 80%;
    border-radius: 10px;
    background-color: #3cb4ab;
    line-height: 20px;
  }
.main-logo{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    top: 20%;
}
.main-context{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.main-text1{
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 15px;
 
}
.main-text2{
    font-size: 15px;
    padding-bottom: 10px;
    font-weight: 700;
    color: #727473;
 
}
.main-text{
    margin-bottom: 30px;
}
.main-text h3{
    font-size: 18px;
    font-weight: bolder;
}
.main-text p{
    margin: 20px 0px;
    line-height: 1.35;
    color: #727473;
}
.main-text h4{
    color: #727473;
}
.main-text h4{
    font-weight: 500;
    line-height: 1.35;
}
.main-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.btn1{
    border-radius: 20px;
    padding: 12px 20px;
    font-size: 13px;
    align-items: center;
    border: none;
    background-color: #3cb4ab;
    color: #fff;
}
.bookmark-true{
    background-color: #3cb4ac2a;
    color: #3cb4ab;
}
.btn2{
    display: flex;
    align-items: center;
}
.span-btn2{
    background-color: #cecfce;
    padding: 12px 20px;
    font-size: 13px;
    color: #727473;
    border-radius: 0px 15px 15px 0px;
}
.btn2 svg{
 position: relative;
 left: 20%;

}
.svg-btn-true{
    fill: #3cb4ab;
    color: #28ca28;
}
.btn2 button{
    padding: 20px 40px;
    border-radius: 25px;
    border: none;
 
}
.btn2 span{ 
    padding-left: 10px;
    font-weight: 600;
}
.main-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    margin-bottom: 10px;
}
.span-info{
    font-weight: 500;
}
.about-details-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
   
    
    
}
.details-container{
    border: 1px solid #cecfce;
    /* padding: 13px; */
    border-radius: 10px; 
    padding: 20px;
  
}
.details{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    /* align-items: center; */
}
.details-name{
    font-size: 18px;
    font-weight: bolder;
}
.details .pledge{
    color: #3cb4ab;
}
.details-info{
    font-size: 13.7px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #727473;
}
.details-price{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.details-price button{
    padding: 5px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #3cb4ab;
    color: #fff;
    

}
.details-price .price{
    font-size: 22px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    gap: 3px;
}
.price span{
    font-size: 13px;
    color: #727473;
}
.first-main-container{
    background-color: #ffff;
    
    border: 1px solid #cecfce;
    border-radius: 7px;
    margin: 15px;
    padding: 10px;
}
.second-main-container{
    padding: 10px 0px;
    background-color: #fff;
    border: 1px solid #cecfce;
    border-radius: 7px; 
    margin-bottom: 25px;
    margin: 15px;
    padding: 10px;
    
}
.third-main-container{
 
    background-color: #fff;
    margin: 15px;
    padding: 20px 10px;
    border-radius: 7px;
    
}

.main-info-numbers-diff .span-info{
    color: #727473;
    font-size: 13px;
    font-weight: 700;
}
.main-numbers{
    font-size: 25px;
    font-weight: 800;
}
.main-info-numbers .span-info{
    color: #727473;
    font-size: 13px;
    font-weight: 700;
}
.main-info-numbers-right{
   
    padding: 0px 17px;
}
/* @media (max-width: 1024px){
    .main-container{
        position: absolute;
        top: 19%;
        width: 80%;
        padding: 20px;
    }
    .main-logo{
        top: 17%;
      
    }
} */
@media (max-width: 767px) {
    .main-container{
        position: absolute;
        top: 30%;
        width: 80%;
        padding: 20px;
        background-color: yellow;
    }
    .main-context{
        text-align: center;
        padding: 0px;
    }
    .main-text1{
        font-size: 25px;
    }
    .main-text2{
        font-size: 17px;
    }
    .main-logo{
        top: 25%;
        
      
    }
    .main-text1{
        font-size: 20px;
    }
    
    .main-text2{
        font-size: 12px;
        line-height: 1.5;
        font-weight: 500;
     
    }
    .btn2 button{
        display: none;
    }
    .main-button{
        display: flex;
        justify-content: center;
     
    }
    .main-text{
        font-size: 13px;
    }
    .main-info{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 28px;
        gap: 15px;
    }
 
    .span-info{
        font-size: 13px;
    }
    .details{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .details-price{
        display: flex;
        flex-direction: column;  
        gap: 10px;
    }
    .details-name{
        font-size: 13px;
        font-weight: 800;
    }
    .details .pledge{
        font-size: 13px;
    }
    .details-info{
        font-size: 13px;
    }
    .details-price button{
       
       font-size: 10px;
       
       width: 70%;
    }
    .main-info-numbers{
        padding-bottom: 10px;
        border-bottom: 1px solid #727473;
    }
    
}

