.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
    font-family: Arial, Helvetica, sans-serif;
   
}
.scroll{
    overflow: hidden !important;
}
.no-scroll{
    overflow: auto;
}
.main-container{
    background-color: #fff;
    border: 2px solid #fcfcfce7;
    position: absolute;
    width: 50%;
    top: 25%;
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    
 
}
.progress-bar {
    width: 100%;
    height: 15px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgb(243, 236, 236);
}
  
  .progress {
    height: 100%;
    width: 80%;
    border-radius: 10px;
    background-color: #3cb4ab;
    line-height: 20px;
  }
.main-logo{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    top: 21%;
}
.main-context{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    font-size: 20px;
}
.main-text1{
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 15px;
 
}
.main-text2{
    padding-bottom: 10px;
}
.main-text{
    margin: 20px;
}
.main-text p{
    margin: 20px 0px;
    line-height: 1.35;
}
.main-text h4{
    font-weight: 500;
    line-height: 1.35;
}
.main-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.btn1{
    border-radius: 26px;
    padding: 20px 19px;
    font-size: 13px;
    border: none;
    background-color: #3cb4ab;
    color: #fff;
}
.bookmark-true{
    background-color: #3cb4ac2a;
    color: #3cb4ab;
}
.btn2{
    display: flex;
    align-items: center;
}
.btn2 svg{
 position: relative;
 left: 20%;
}
.svg-btn-true{
    fill: #3cb4ab;
    color: #28ca28;
}
.btn2 button{
    padding: 20px 40px;
    border-radius: 25px;
    border: none;
 
}
.btn2 span{
    padding-left: 10px;
    font-weight: 600;
}
.main-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
 

}
.span-info{
    font-weight: 500;
}
.about-details-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.details-container{
    border: 1px solid #fff;
    padding: 13px;
    border-radius: 15px; 
}
.details{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.details .pledge{
    color: #3cb4ab;
}
.details-info{
    font-size: 13.7px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.details-price{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.details-price button{
    padding: 12px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #3cb4ab;
    color: #fff;
}
.details-price .price{
    font-size: 23px;
    font-weight: 700;
}
.first-main-container{
    background-color: #ffff;
    padding: 20px;
    border: 1px solid #eeeaeaa4;
    border-radius: 7px;
}
.second-main-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #eeeaeaa4;
    border-radius: 7px;
    
}
.third-main-container{
    padding: 15px;
    background-color: #fff;
    padding: 20px;
    border-radius: 7px;
    border: 1px solid #eeeaeaa4;
}
.main-info-numbers{
    
}
.main-info-numbers-right{
   
    padding: 0px 17px;
}
@media (max-width: 767px) {
    .main-container{
        position: absolute;
        top: 33%;
        width: 80%;
        padding: 20px;
    }
    .main-context{
        text-align: center;
        padding: 0px;
    }
    .main-text1{
        font-size: 25px;
    }
    .main-text2{
        font-size: 17px;
    }
    .main-logo{
        top: 29%;
        z-index: 0;
    }
    .btn2 button{
        display: none;
    }
    .main-button{
        display: flex;
        justify-content: center;
     
    }
    .main-info{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 28px;
        gap: 20px;
    }
    .main-info-numbers{
   
      
    }
    .span-info{
        font-size: 13px;
    }
    .details{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .details-price{
        display: flex;
        flex-direction: column;  
        gap: 10px;
    }
    .details-price button{
        
    }
}