.popup-body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  
}
.pop-up-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 46, 45, 0.432);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.pop-up-open{
    display: block;
}

.pop-up-close{
    display: none;
}

.spin{
    animation: spin 2s linear infinite;
    width: 23px;
    fill: #3cb4ab;

  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .input-button-container{
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .pop-up{
    width: 50%;
    overflow-y: auto;
    max-height: 70%;
    background-color: #ffff;
    padding: 20px;
    border-radius: 10px;
}
.mobile-page{
    display: flex;
    gap: 20px;
}
.project-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.project-heading-name{
    font-size: 20px;
    font-weight: 700;
}
.project-heading-text{
    margin-bottom: 20px;
    color: #727473;
    font-size: 14px;
    font-weight: 600;
}
.project-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.project-container{
    border: solid 1px #d61c1c52;
    border-radius: 8px;
}
.project-name{
    font-size: 15px;
    font-weight: 700;
}
.project-title{
    color: #3cb4ab;
    font-size: 15px;
}
.project-count{
    font-weight: 700;
    font-size: 18px;
}
.project-details{
    color: #727473;
    
    
}

.project-check-one{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}
.project-check{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
   
}
.project-check-container{
    padding: 15px 10px;
   
}
.projects{
    border: 1px solid rgba(202, 216, 202, 0.808);
    border-radius: 8px;
    margin-bottom: 20px;
}
.check{
    display: flex;
    gap: 15px;
    align-items: center;
}
.radio-btn{
    display: flex;
    align-items: center;
}
.radio-btn input[type="radio"]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid #7e797952;
    background-color: #fff;
    outline: none;
    transition: border-color 0.3s ease;
    
}
      
.radio-btn input[type="radio"]:checked {
    background-color: #3cb4ab; /* Change the inside color of the checked radio button */
}



.project-span-input{
    display: flex;
    border-top: 1px solid rgb(211, 209, 209);
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    padding: 25px 10px;
}

.project-span-input .pledge{
    color: #727473;
}

.project-check-box{
    background-color: #fff;
}

.input{
    display: flex;
    align-items: center;
    outline: none;
    border-radius: 40px;
    gap: 20px;
}


.user-input{
    text-align: center;
}

.input-page input{
    display: flex;
    border-radius: 15px;
    height: 35px;
    width: 70px;
    outline: none;
    
}
.user-input{
    border: 1px solid #727473;
}

.input-button button{
    border-radius: 15px;
    height: 35px;
    width: 90px;
    border: none;
    background-color: #3cb4ab;
    color: #fff;
}

.reds{
    border: 2px solid #3cb4ab;
}
.red{
    border: 1px solid red;
}
/* .white{
    border: 1px solid orange
} */

@media (max-width: 767px){
  
    .mobile-page{
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
    .project-heading-text{
        font-size: 13px;
        font-weight: 500;
    }
    .project-span-input{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-around;
        font-size: 15px;
    }
    .input-page input{
        border-radius: 18px;
    }
    .input-button button{
        font-size: 13px;
        border-radius: 18px;
    }
    .pop-up{
        width: 80%;
    }
    .mobile-page{
        gap: 3px;
    }
}