.popup-body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  
}
.pop-up-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 46, 45, 0.432);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up-open{
    display: block;
}

.pop-up-close{
    display: none;
}

.pop-up{
    width: 50%;
    overflow-y: auto;
    max-height: 70%;
    background-color: #ffff;
    padding: 20px;
    border-radius: 10px;
}
.project-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.project-heading-text{
    margin-bottom: 20px;
}
.project-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.project-container{
    border: solid 1px #d61c1c52;
    border-radius: 8px;
}
.project-check-one{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}
.project-check{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
   
}
.project-check-container{
    padding: 15px 10px;
   
}
.projects{
    border: 1px solid rgba(202, 216, 202, 0.808);
    border-radius: 8px;
    margin-bottom: 20px;
}
.check{
    display: flex;
    gap: 15px;
    align-items: center;
}
.radio-btn{
    display: flex;
    align-items: center;
}
.radio-btn input[type="radio"]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid #7e797952;
    background-color: #fff;
    outline: none;
    transition: border-color 0.3s ease;
    
}
      
.radio-btn input[type="radio"]:checked {
    background-color: #3cb4ab; /* Change the inside color of the checked radio button */
}



.project-span-input{
    display: flex;
    border-top: 1px solid rgba(6, 7, 2, 0.384);
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    padding: 25px 10px;
}

.project-check-box{
    background-color: #fff;
}

.input{
    display: flex;
    align-items: center;
    outline: none;
    border-radius: 40px;
    gap: 20px;
}


.user-input{
    text-align: center;
}

.input-page input{
    display: flex;
    border-radius: 15px;
    height: 30px;
    width: 65px;
    outline: none;
}

.input-button button{
    border-radius: 15px;
    height: 30px;
    width: 70px;
    border: none;
    background-color: #3cb4ab;
    color: #fff;
}

.reds{
    border: 1px solid #3cb4ab;
}
.red{
    border: 1px solid red
}
.white{
    border: 1px solid orange
}

