.thankyou-open{
    display: block;
}

.thankyou-close{
    display: none;
}
.thankyou{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.295);
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.thankyou-page{
    background-color: #fff;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
    width: 35%;
    padding: 15px;
    border-radius: 10px;
    align-items: center;
}
.thankyou-button button{
    padding: 15px 20px;
    border-radius: 20px;
    border: none;
    background-color: #3cb4ab;
    color: #fff;
}
@media (max-width: 480px){
    .thankyou-page{
        width: 67%;
    }
    .thankyou-button button{
        padding: 10px 20px;
    }
}